<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
  <div id="loader" class="loader-container"><div class="loader"></div></div>
  <div class="row">
    <div class="col s6">
      <h1 class="title">Github-Profile-Card</h1>
    </div>
    <div class="col s6">
      <form id="form" class="col s12" action="/search" method="post">
        <div class="row">
          <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
              <input id="inline" type="text" class="validate" name="user">
              <label for="inline">user</label>
          </div>
        </div>
        <a id="submmit" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">double_arrow</i></a>
      </form>
    </div>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script> $(document).ready(function() {
    $('input#input_text, textarea#textarea2').characterCounter();
  });
</script>
<script>
  window.addEventListener("load", function() {
    document.getElementById("loader").style.display = 'none';
    document.getElementById("content").style.display = 'block';  
  });
</script>
<script>
  document.getElementById("submmit").addEventListener("click", function(event) {
  event.preventDefault();
  document.getElementById("form").submit();
});
</script>
</html>