<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>github-profile-card</title>
</head>
<body>
  <div id="loader" class="loader-container"><div class="loader"></div></div>

  <div class="row">
    <div class="col s12 m12 l12 banner">
      <div>
        <p>Github-Profile-Card</p>
        <p>Github個人專案資料卡</p>
      </div>
    </div>
    <div class="col s12 m12 l12 form">
      <form id="form" action="/search" method="post">
          <div class="col s12 input-field">
            <i class="material-icons prefix">account_circle</i>
            <input id="inline" type="text" class="validate" name="user">
            <label for="inline">USER</label>
          </div>
          <div class="col s12">
            <button>
              <i class="material-icons">double_arrow</i>
            </button>
          </div>
      </form>
    </div>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script> $(document).ready(function() {
    $('input#input_text, textarea#textarea2').characterCounter();
  });
</script>
<script>
  window.addEventListener("load", function() {
    document.getElementById("loader").style.display = 'none';
    document.getElementById("content").style.display = 'block';  
  });
</script>
<script>
  document.getElementById("submmit").addEventListener("click", function(event) {
  event.preventDefault();
  document.getElementById("form").submit();
});
</script>
</html>